/* Corps de la page */

	body{
		display:-ms-grid;
		-ms-grid-template-rows: 33% 33% 33%;
		-ms-grid-template-columns: 33% 33% 33%;
		width:100%;
	}

	.vcard{
		background-color:#8c111d;
		color:white;
		width:100%;
	}

/* Bloc image */

	aside{
		-ms-grid-row:1;
		-ms-grid-column: 1;	
		margin-left:25%;
	}

/* Bloc présentation */

	#name{
		-ms-grid-row:1;
		-ms-grid-column:2;		
	}

	#name h4, h1{
		text-align:center;
	}

/* Bloc coordonnées 1 */

	.first{
		-ms-grid-row:2;
		-ms-grid-column:2;
	}

/* Bloc coordonnées 2 */

	.sec{
		-ms-grid-row:2;
		-ms-grid-column:3
	}

/* Bloc social */

	article{
		-ms-grid-row:3;
		-ms-grid-column:2;	
	}