body{
	display:-ms-grid;
	-ms-grid-template-rows: 33% 33% 33%;
	-ms-grid-template-columns: 33% 33% 33%;
	background-color:#8c111d;
	color:white;
	height: 25%;
	width:80%;
}

aside{
	-ms-grid-row:1;
	-ms-grid-column: 1;	
}

article{
	-ms-grid-row:3;
	-ms-grid-column:2;	
}

#name{
	-ms-grid-row:1;
	-ms-grid-column:2;
}

.first{
	-ms-grid-row:2;
	-ms-grid-column:2;
}

.sec{
	-ms-grid-row:2;
	-ms-grid-column:3
}